@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root{
    --color0: #F2F2F2;
    --color1: #66D9B8;
    --color2: #51A696;
    --color3: #296B73;
    --color4: #1D4859;

    --standard-font: Arial, Verdana, Helvetica, sans-serif;
    --featured-font: 'Merriweather', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: rgba(0, 0, 139, 0.329);
    background-image: url(image/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--standard-font);
}

header{
    background-image: linear-gradient(to bottom, var(--color0), var(--color4));
    font-family: var(--featured-font);
    min-height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

header > h2{
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: 10px;
}
header > p{
    font-size: 1.5em;
}

nav{
    background-color: var(--color4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    box-shadow: 0px 11px 9px rgba(0, 0, 0, 0.322);
    margin-bottom: 40px;
}
nav > a{
    color: var(--color0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    border-radius: 5px;
}
nav > a:hover{
    background-color: var(--color3);
    color: var(--color4);
}

main {
    padding: 20px;
}
main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2.5em;
}

article{
    background-color: white;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    border: 1px solid rgba(0, 0, 139, 0.329);
    border-radius: 10px;
    margin-bottom: 30px;
}

article > h1,h2{
    font-family: var(--featured-font);
}

aside{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
aside > h1{
    font-family: var(--featured-font);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 139, 0.336);
}

.square{
    display: inline-block;
    border: 1px solid rgba(0, 0, 139, 0.329);
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 200px;
    font-family: var(--featured-font);
    margin: 10px;
}

div#map{
    background-image: url(image/map.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center
}
div#happy{
    background-image: url(image/happy.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center center;
}
div#workload{
    background-image: url(image/workload.png);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center center;
}
div > p{
    margin-top: 3px;
}


footer{
    background-color: var(--color4);
    color: white;
    text-align: left;
    padding: 10px;
}
footer > a{
    color: rgba(255, 255, 255, 0.521);
    padding: 10px;
    text-decoration: none;
}
footer > p{
    padding: 10px;
}